:root {
	--max-width: 40em;
	--font-size: 16px;
	--back: #FCFAF1;
	--text: #4A544A;
	--primary: #FF974C;
	--secondary: #849D6A;
}

html,
body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-size: var(--font-size);
	line-height: 1.5;
	background: var(--back);
	color: var(--text);
	scroll-behavior: smooth;
}

h1, h2, h3 {
	margin: 0;
}

h1 {
	font-weight: normal;
	text-align: center;
}

h2 {
	text-transform: uppercase;
}

h2, .cohorts a span {
	font-size: 1.5em;
}

a {
	color: inherit;
}

header,
main,
footer {
	padding: 1em;
	max-width: var(--max-width);
	margin: auto;
}

header a {
	color: inherit;
	overflow: hidden;
	display: block;
}

.spinny {
	display: inline-block;
	margin: 1em auto 0 auto;
	background: url(../aacbobatea.png);
	background-size: 40%;
	background-position: 55% 48%;
	background-repeat: no-repeat;
}

.spinny .spin {
	animation: spin 30s linear infinite;
	width: 320px;
	height: 320px;
	position: relative;
}

@keyframes spin {
	to { transform: rotateZ(360deg) }
}

.spinny .spin > div {
	position: absolute !important;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.cohorts {
	position: relative;
	text-transform: uppercase;
}

.cohorts > div {
	display: flex;
	overflow-x: auto;
	padding: 1em 0;
}

.cohorts .element,
.cohorts a {
	display: block;
	width: 190px;
	flex: 0 0 190px;
	min-height: 240px;
	margin-right: 1em;
	padding: 1em;
	box-sizing: border-box;
}

.cohorts .element {
	padding-left: 0;
}

.cohorts h2 {
	margin: 0;
}

.cohorts a {
	background: var(--text);
	color: var(--back);
	text-decoration: none;
	position: relative;
	transition: all 0.2s ease-in-out;
	overflow: hidden;
}

@media screen and (max-width: 42em) {
	.cohorts {
		margin: 0 -1em;
	}

	.cohorts .element {
		padding-left: 1em;
	}

	.cohorts a:last-child {
		border-right: 1em solid var(--back);
	}
}

.cohorts a:after {
	content: "";
	display: block;
	height: 2em;
	width: 2em;
	position: absolute;
	bottom: 1em;
	right: 1em;
	background-image: url(../arrow.svg);
	background-size: 100%;
	transition: all 0.2s ease-in-out;
}

.cohorts a:hover {
	border-bottom-right-radius: 1em;
}

.cohorts a:hover:after {
	transform: translate(3em, 3em);
}

.people {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
	grid-column-gap: 1em;
	grid-row-gap: 1.2em;
}

.people h2 {
	grid-column: 1 / -1;
	padding-top: 1em;
}

.person img {
	display: block;
	max-width: 100%;
	height: auto;
	background: var(--text);
	pointer-events: none;
}

.person h3 {
	margin-top: 1em;
}

.person .links {
	font-size: 0;
}

.person .links a {
	display: inline-block;
	text-decoration: none;
	padding: 0.2em 0.5em 0.2em 0.2em;
	font-size: var(--font-size);
}

@font-face {
	font-family: 'social';
	src: url('data:application/octet-stream;base64,d09GRgABAAAAAA/UAA8AAAAAGXQAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABHU1VCAAABWAAAADsAAABUIIslek9TLzIAAAGUAAAAQwAAAFY+IFLvY21hcAAAAdgAAAB2AAAByKzmBzljdnQgAAACUAAAABMAAAAgBtX/BGZwZ20AAAJkAAAFkAAAC3CKkZBZZ2FzcAAAB/QAAAAIAAAACAAAABBnbHlmAAAH/AAABQkAAAY4/Qk++mhlYWQAAA0IAAAAMAAAADYY8A9naGhlYQAADTgAAAAbAAAAJAc8A1lobXR4AAANVAAAABQAAAAYFLMAAGxvY2EAAA1oAAAADgAAAA4FdgMwbWF4cAAADXgAAAAgAAAAIAEbDBluYW1lAAANmAAAAX0AAAK1BdlsPXBvc3QAAA8YAAAAPgAAAE+EowGjcHJlcAAAD1gAAAB6AAAAhuVBK7x4nGNgZGBg4GIwYLBjYHJx8wlh4MtJLMljkGJgYYAAkDwymzEnMz2RgQPGA8qxgGkOIGaDiAIAJjsFSAB4nGNgZC5mnMDAysDAVMW0h4GBoQdCMz5gMGRkAooysDIzYAUBaa4pDAdeMHzMZQ76n8UQxRzEMA0ozAiSAwD4ugyWAHic7ZHBCYQwEEXfaCLLYilWstiKV082IlbnzeNYgTuTUcEe/OEF/idM4A+QgdrojAQyIbhGS6XkNd+SJ37mWz5UpA2dddF1H44Dnu6W2OvruKtsVvIfpeFVW+7+dNlbDLx3nQPrDF0C35Ouge9qHwLyH5iVI7YAAHicY2BAAxIQyBz0PwuEARJsA90AeJytVml300YUHXlJnIQsJQstamHExGmwRiZswYAJQbJjIF2crZWgixQ76b7xid/gX/Nk2nPoN35a7xsvJJC053Cak6N3583VzNtlElqS2AvrkZSbL8XU1iaN7DwJ6YZNy1F8KDt7IWWKyd8FURCtltq3HYdERCJQta6wRBD7HlmaZHzoUUbLtqRXTcotPekuW+NBvVXffho6yrE7oaRmM3RoPbIlVRhVokimPVLSpmWo+itJK7y/wsxXzVDCiE4iabwZxtBI3htntMpoNbbjKIpsstwoUiSa4UEUeZTVEufkigkMygfNkPLKpxHlw/yIrNijnFawS7bT/L4vead3OT+xX29RtuRAH8iO7ODsdCVfhFtbYdy0k+0oVBF213dCbNnsVP9mj/KaRgO3KzK90IxgqXyFECs/ocz+IVktnE/5kkejWrKRE0HrZU7sSz6B1uOIKXHNGFnQ3dEJEdT9kjMM9pg+Hvzx3imWCxMCeBzLekclnAgTKWFzNEnaMHJgJWWLKqn1rpg45XVaxFvCfu3a0ZfOaONQd2I8Ww8dWzlRyfFoUqeZTJ3aSc2jKQ2ilHQmeMyvAyg/oklebWM1iZVH0zhmxoREIgIt3EtTQSw7saQpBM2jGb25G6a5di1apMkD9dyj9/TmVri501PaDvSzRn9Wp2I62AvT6WnkL/Fp2uUiRen66Rl+TOJB1gIykS02w5SDB2/9DtLL15YchdcG2O7t8yuofdZE8KQB+xvQHk/VKQlMhZhViFZAYq1rWZbJ1awWqcjUd0OaVr6s0wSKchwXx76Mcf1fMzOWmBK+34nTsyMuPXPtSwjTHHybdT2a16nFcgFxZnlOp1mW7+s0x/IDneZZntfpCEtbp6MsP9RpgeVHOh1jeUELmnTfwZCLMOQCDpAwhKUDQ1hegiEsFQxhuQhDWBZhCMslGMLyYxjCchmGsLysZdXUU0nj2plYBmxCYGKOHrnMReVqKrlUQrtoVGpDnhJulVQUz6p/ZaBePPKGObAWSJfIml8xzpWPRuX41hUtbxo7V8Cx6m8fjvY58VLWi4U/Bf/V1lQlvWLNw5Or8BuGnmwnqjapeHRNl89VPbr+X1RUWAv0G0iFWCjKsmxwZyKEjzqdhmqglUPMbMw8tOt1y5qfw/03MUIWUP34NxQaC9yDTllJWe3grNXX27LcO4NyOBMsSTE38/pW+CIjs9J+kVnKno98HnAFjEpl2GoDrRW82ScxD5neJM8EcVtRNkja2M4EiQ0c84B5850EJmHqqg3kTuGGDfgFYW7BeSdconqjLIfuRezzKKT8W6fiRPaoaIzAs9kbYa/vQspvcQwkNPmlfgxUFaGpGDUV0DRSbqgGX8bZum1Cxg70Iyp2w7Ks4sPHFveVkm0ZhHykiNWjo5/WXqJOqtx+ZhSX752+BcEgNTF/e990cZDKu1rJMkdtA1O3GpVT15pD41WH6uZR9b3j7BM5a5puuiceel/TqtvBxVwssPZtDtJSJhfU9WGFDaLLxaVQ6mU0Se+4BxgWGNDvUIqN/6v62HyeK1WF0XEk307Ut9HnYAz8D9h/R/UD0Pdj6HINLs/3mhOfbvThbJmuohfrp+g3MGutuVm6BtzQdAPiIUetjrjKDXynBnF6pLkc6SHgY90V4gHAJoDF4BPdtYzmUwCj+Yw5PsDnzGHQZA6DLeYw2GbOGsAOcxjsMofBHnMYfMGcdYAvmcMgZA6DiDkMnjAnAHjKHAZfMYfB18xh8A1z7gN8yxwGMXMYJMxhsK/p1jDMLV7QXaC2QVWgA1NPWNzD4lBTZcj+jheG/b1BzP7BIKb+qOn2kPoTLwz1Z4OY+otBTP1V050h9TdeGOrvBjH1D4OY+ky/GMtlBr+MfJcKB5RdbD7n74n3D9vFQLkAAQAB//8AD3icbVRNbBtFFJ43f7tZr9c/2V07zmZxN8nasa2Ns9ms3To/VhslIU0hdayqgao1pS2QqElo3aoHiNIeUFV6QFUkUIV6QEVCIA5coOKEaMQFxJUjPXHihIQ4NWU2AoEE82Z33sy892a/975ZhBF69iPJ49+QhSbRZPMw4oxvIkbZJkIEE4QvI4oIoqSDMABuI4zhNAIMS5ONcGKkOOT054yUxMzycOhnzARwxw1mYBoypi7xgisWdNOvgakLbdApuEFkNgNhUPAgsi64YmKCqxWT+Xypfn+rvju3GyaTQ47f2s0Fizn4tV5/sLg07WtWSfMXHlhWtmn5yaLmOH54r6tpzlCxvnW/vjubDpJRkGrrXm7Jz+FL9fv1Bwu+VrS16sKH1mI2p+T8yNwPORINBPY/yG38GI2iE81Fr1LKY8Z4H1BmpjGhMYGXzv8rIZTQzSgpmyIVeDPyhzYCQKejWEtDpjmYcooS6y8DlwxdIwWnYI77NQ/+GqbAzHgQ1GzIuBNBWPMzYY1LIbk9PFE6deOTV95/uze7fb5xJt2byGZnWm5luNI3+80WW1t8cWIqNBoB3ggLmeffe+dCE5/EJ2AuJDx+/ig2cN8LndLKBWbox1+Hw2q+ORQBlAW+PbJKYmgFvYTOoQvoDbSBrqIbaK352pDdb1AKF+OY4DWQ+DwwSYClorJU1BwTwGQdEQ6EryMuCUTrSGIgsXXE2IYMEe62HKVAsAHBEqCrV97cmput18aqlfKAhVZgpYfpZfBtMHQucXcKgsI0LQSFsODyBLiO5GGJZ7ih2yTDJQ0cV1BiFBxuw3Nw8OBwvGboGZ2LjYlgGohwlbiZCd3/vGoB18OaUEL4vPvdlYc3E9pA3q87OVwx+pKThhFsTMh2M9GnV7JOvXrI4GrOdbRYXo2pMpYJVbOcS07RVeOQ1G4+7H67ixnHoOg0Jik6VxTFovGe+DCkaMrt7c1DGqdJrLt37e6TMtGU62Ef0ezKQvVYdXyGmVo8keDpHJ8Zrx4bXfCsJNZdxrOZtEmAKpwQbmtxIydj4ltY0Uj5yd1re92nH1CRd8oTJMZVg2qSptO4ovZwpnIqQRxiEtEOuEtEbX8gq/iZ0DRUQovNeQcYwLzUg0FmMrDLnGLE0JYwEPBwB4k1uY1kmZ1GTGZLCI0UDuWtflNPJePiCGFHUgozyr2pwVRN52VRD3FXTRDTwB10RAmN1GA4BYVxY3Ca1Hzz8aO9Ix549SNn6vjdr7zqoBfnjwAeQSzrTjrnuvD705/wyGcjYdgKw/3m/mMoNo66Aylr//uf73zcv5zO5ZOwjcRHomdfHPBURimUQ210Gb3a7KSBMJhHCpYk5SKKxzTMWZx3hDkV17ETpQAI6gj2YQVwp0fGkqpK7WiU1FWkSuqJfP/axbOrrZNTk0cO12vhRH87v9KrC0knWK4MgSAAmH4o0HowjU0xOh4IzMOOQK+BFHVsciF6xMiMDb4ZCpmGWtSxGwoJRkHccE+ki4MeuYh/mlhwk5FNmBdOGRM3Wjda+FT31PGdL2/h7a/fmrErFs4Xnf1faKGhz3opq6RymeKocUUtWcnq0dKSslhpBnGrovyzFSsNJL05dxk+JWznqr/vd3cYEWp3DNBYd5sTONtot6+3242Xo4O28a07hm2XbPsS5XIsijvrLvNldzZbtEoxrtCoyVj53639j3bGDuLz7WsH8f/W/wS1Ku2LAAAAeJxjYGRgYABiI5XZBvH8Nl8ZuJlfAEUYbn1JfYyg/29kfsHMDeRyMDCBRAFT5AyYeJxjYGRgYA76nwUkXzAwgElGBlTABgBc+gOdAHicY37BwMCsAMQLgDgSgQEo+QLGAAAAAAB+AO4B3AJCAxwAAAABAAAABgB5AAgAAAAAAAIAHgAuAHMAAAB7C3AAAAAAeJx1kMFKw0AURe/YWtGKCwXXz420iGkMuLBuxIJ1pdBFQVxIjGmSkmbKZCr0F/wHP8If8lu8SQZRwQwzOe++O2/eDIB9fEKh+c45G1boMGp4A1u4dNyifu24Tb51vIku7hx3OB4c7+AET467OMAbK6j2NqM53h0r7KotxxvYUweOW9SPHLfJp443caguHHeo3zvewVQ9Ou7iWH2M9HJtsiS10hv1JfADX57XoillRZhLuLKpNqVcyUwXNs5z7UV6UeooC/NJnKzy0DRBs05jU2a6kDPPb4RxXMQmtPFLVbV8TQJrZzIzeiE3rp4sjZ7HkfVSa5fDweDnORhBY4k1DDIkSGEh6FHt8x/Ar6fgmQ6hs3FlKBAipxJixR1pnSkZX3HOGBVUYzpysoeI64J5TcrqnRNmE+7NGZlfmZ88pavKZnVFwRlr+b8cYzqK2hXWJ75891rilScEVC07qroydReCmz/9Ce9f5eZUIupe/QqW6hADjn/u8wXKfnw5AAAAeJxjYGKAAC4G7ICNkYmRmZGFkZWRjZGdgSUnMy+bJSmzKIU1OT8ltZgjqbQ4My+1uJilIDO5mIEBALrECsUAAHicY/DewXAiKGIjI2Nf5AbGnRwMHAzJBRsZWJ02MTAyaIEYm7mYGDkgLD4GMIvNaRfTAaA0J5DN7rSLwQHCZmZw2ajC2BEYscGhI2Ijc4rLRjUQbxdHAwMji0NHckgESEkkEGzmYWLk0drB+L91A0vvRiYGFwAMdiP0AAA=') format('woff'),
		 url('data:application/octet-stream;base64,AAEAAAAPAIAAAwBwR1NVQiCLJXoAAAD8AAAAVE9TLzI+IFLvAAABUAAAAFZjbWFwrOYHOQAAAagAAAHIY3Z0IAbV/wQAAA1cAAAAIGZwZ22KkZBZAAANfAAAC3BnYXNwAAAAEAAADVQAAAAIZ2x5Zv0JPvoAAANwAAAGOGhlYWQY8A9nAAAJqAAAADZoaGVhBzwDWQAACeAAAAAkaG10eBSzAAAAAAoEAAAAGGxvY2EFdgMwAAAKHAAAAA5tYXhwARsMGQAACiwAAAAgbmFtZQXZbD0AAApMAAACtXBvc3SEowGjAAANBAAAAE9wcmVw5UErvAAAGOwAAACGAAEAAAAKADAAPgACREZMVAAObGF0bgAaAAQAAAAAAAAAAQAAAAQAAAAAAAAAAQAAAAFsaWdhAAgAAAABAAAAAQAEAAQAAAABAAgAAQAGAAAAAQAAAAEDcwGQAAUAAAJ6ArwAAACMAnoCvAAAAeAAMQECAAACAAUDAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFBmRWQAwOgA8W0DUv9qAFoDUgCWAAAAAQAAAAAAAAAAAAUAAAADAAAALAAAAAQAAAF8AAEAAAAAAHYAAwABAAAALAADAAoAAAF8AAQASgAAAAwACAACAAToAPCZ8Jvw4fFt//8AAOgA8Jnwm/Dh8W3//wAAAAAAAAAAAAAAAQAMAAwADAAMAAwAAAABAAIAAwAEAAUAAAEGAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAwAAAAAAEwAAAAAAAAABQAA6AAAAOgAAAAAAQAA8JkAAPCZAAAAAgAA8JsAAPCbAAAAAwAA8OEAAPDhAAAABAAA8W0AAPFtAAAABQACAAD/zgMgAvIAHAA8ADxAOQAGBQZvAAUEBW8AAAMCAwACbQAEAAMABANgAAIBAQJUAAICAVgAAQIBTDw7NjUpKCQiGxoVEQcFFislNjIXFg8BBiImND8BPgEXFhQHBicmDwEGFBYyNwEWFA8BBiMiJyY0NjIXFj8BNjQnLgEPAQYiJyY/ATYWASYOKBAgICo4mnA4lEaUNhAQJCIyUpQaNEoaAew4OJ5KTD4yDhwqDjJInhwcGEAcMhAoDiIiMjaSdA4OIiQoOHCaOJREEjQQKBAgIDBSkhpMMhoCZjiaOJ5IMg4oHg4wSJwcShgaChoyDg4iJDI2BgAAAAABAAD/9wOIAsMALwBNQEouLCogAgUFBhkBBAUWEgIDBAsBAQIERwAGBQZvAAUEBW8ABAMEbwADAgNvAAIBAm8AAQAAAVQAAQEAWAAAAQBMJBYWIxEiKAcFGysBBgcVFA4DJyInFjMyNy4BJxYzMjcuAT0BFhcuATQ3HgEXJjU0NjcyFzY3Bgc2A4glNSpWeKhhl30TGH5iO1wSEw8YGD9SJiwlLBlEwHAFakpPNT02FTs0Am42JxdJkIZkQAJRAk0BRjYDBg1iQgIVAhlOYCpTZAUVFEtoATkMIEAkBgAAAAgAAP/EA1kDCwBTAFoAXwBkAGkAbgBzAHgAakBnJB4bFQQEAWUNAgMCagEHBkcBBQcERwAEAQIBBAJtAAIDAQIDawADBgEDBmsABgcBBgdrAAcFAQcFawAFBW4IAQABAQBUCAEAAAFYAAEAAUwBAHNycXBGRDg3MTAsKx0cAFMBUwkFFCsBMh4BFRQGBwYmPQE0Jz4EJzQnNicmBg8BJiIHLgIHBhcGFRQeAxcGBw4BIiYnLgEvASIGHgEfAR4BHwEeAjYzNxUUFxQGJy4BNTQ+AQM2JyYHBhYXNiYGFhc2JgYWFzYmBhYXNiYGFjc0BhQ2NyYGFjYBrXTGcqSBDw4dIDI4IhoCLBUZEDwVFTRuNQgeQA8ZFCwYIjgwIRUGDBomIg4LIAwLDAgCCAMEDBgGBgciKCYMDQEQDoGkdMKUAgUGAgEKFAQLBwoUBgoKChwEDQkNJQERBBEmExMgARICEgMLdMR1jOArAw4KdjYZAw4eLEgwQzAzPwUWDg0PDwYSGgY/MzBDL0guHBACFCYFBhgXEhYDAQQKBgMDBh4ODRUaCAIDMhwCCg4DK+CMdcR0/ZgEAwECBAYPAwsGDBUEDgcOFAQNCgwJBgUMBgQHAQ0BCwcDDgYAAAAAAwAA/8wDWQL/AAMADgAqAEpARyIBBQEBRwcJAgEIBQgBBW0GBAIABQBwAAMAAggDAmAACAEFCFQACAgFWAAFCAVMAAApJyEgHBsWFBEQDQwJBgADAAMRCgUVKxMRIxE3FAYrASImNDYyFgERIxE0JiMiBgcGFREjNj0BJzMVIz4DNzIWw7jEOi4BLjg6XDgCi7cuMCMuDQa4AQG4AQsYJjwiX3QB9f3XAimrKTY2UjY2/kD+wwEoO0ImHREc/svfiqUbUBIaIBABfgAABQAA/7EDWQMLAAgAEQAaAFQAbQBjQGASAQMFAUcACgIHBwplAA0LDgIGBQ0GYAAFAAQABQRgAAMAAAEDAGAAAQACCgECYAkIAgcMDAdUCQgCBwcMWQAMBwxNIBtqZV5ZUlE9PDo5ODc2NRtUIFMTFBMUExIPBRorATQmIg4BFjI2NxQGLgE+AhY3FAYiLgE2MhYlIisBIg4BBw4BBw4CFgYWBhYUHwEeARceATIWNhY2Fj4BNz4BNz4CJjYmNiY0LwEuAScuASImBgEUBw4BBwYiJy4BJyYQNz4BNzYgFx4BFxYCO1J4UgJWdFZLgLaCAn66fD8eLBwCICgi/uYEJzsURC4RHCoMBggEAgICAgIGCgwqHBAwQipMCkosQDQNHCwKBggEAgICAgIGCgsqHRAuRiZQAaoDBYBzMv4ydIAFAwMFgHQxAQAxdH4GAwFeO1RUdlRUO1uCAn66fgKCihUeHioeHmYEBggLKhwQMEQmUAZQJkQYKBwqCwYKBAQEBAQIAgoLKhwQMEQmUAZQJkQYKBwqCwYKBAT+ooAxdIAFAwMGfnUxAQAxdIAFAwMGfnUxAAEAAAABAAAyJJswXw889QALA+gAAAAA2vRl4wAAAADa9GXjAAD/sQPoAwsAAAAIAAIAAAAAAAAAAQAAA1L/agAAA+gAAAAAA+gAAQAAAAAAAAAAAAAAAAAAAAYD6AAAAyAAAAOgAAADWQAAA1kAAANZAAAAAAAAAH4A7gHcAkIDHAAAAAEAAAAGAHkACAAAAAAAAgAeAC4AcwAAAHsLcAAAAAAAAAASAN4AAQAAAAAAAAA1AAAAAQAAAAAAAQAGADUAAQAAAAAAAgAHADsAAQAAAAAAAwAGAEIAAQAAAAAABAAGAEgAAQAAAAAABQALAE4AAQAAAAAABgAGAFkAAQAAAAAACgArAF8AAQAAAAAACwATAIoAAwABBAkAAABqAJ0AAwABBAkAAQAMAQcAAwABBAkAAgAOARMAAwABBAkAAwAMASEAAwABBAkABAAMAS0AAwABBAkABQAWATkAAwABBAkABgAMAU8AAwABBAkACgBWAVsAAwABBAkACwAmAbFDb3B5cmlnaHQgKEMpIDIwMjAgYnkgb3JpZ2luYWwgYXV0aG9ycyBAIGZvbnRlbGxvLmNvbXNvY2lhbFJlZ3VsYXJzb2NpYWxzb2NpYWxWZXJzaW9uIDEuMHNvY2lhbEdlbmVyYXRlZCBieSBzdmcydHRmIGZyb20gRm9udGVsbG8gcHJvamVjdC5odHRwOi8vZm9udGVsbG8uY29tAEMAbwBwAHkAcgBpAGcAaAB0ACAAKABDACkAIAAyADAAMgAwACAAYgB5ACAAbwByAGkAZwBpAG4AYQBsACAAYQB1AHQAaABvAHIAcwAgAEAAIABmAG8AbgB0AGUAbABsAG8ALgBjAG8AbQBzAG8AYwBpAGEAbABSAGUAZwB1AGwAYQByAHMAbwBjAGkAYQBsAHMAbwBjAGkAYQBsAFYAZQByAHMAaQBvAG4AIAAxAC4AMABzAG8AYwBpAGEAbABHAGUAbgBlAHIAYQB0AGUAZAAgAGIAeQAgAHMAdgBnADIAdAB0AGYAIABmAHIAbwBtACAARgBvAG4AdABlAGwAbABvACAAcAByAG8AagBlAGMAdAAuAGgAdAB0AHAAOgAvAC8AZgBvAG4AdABlAGwAbABvAC4AYwBvAG0AAAAAAgAAAAAAAAAKAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGAQIBAwEEAQUBBgEHAARsaW5rBGJpcmQFY29kZXMIYnVzaW5lc3MEcGljcwAAAAABAAH//wAPAAAAAAAAAAAAAAAAAAAAAAAYABgAGAAYA1L/agNS/2qwACwgsABVWEVZICBLuAAOUUuwBlNaWLA0G7AoWWBmIIpVWLACJWG5CAAIAGNjI2IbISGwAFmwAEMjRLIAAQBDYEItsAEssCBgZi2wAiwgZCCwwFCwBCZasigBCkNFY0VSW1ghIyEbilggsFBQWCGwQFkbILA4UFghsDhZWSCxAQpDRWNFYWSwKFBYIbEBCkNFY0UgsDBQWCGwMFkbILDAUFggZiCKimEgsApQWGAbILAgUFghsApgGyCwNlBYIbA2YBtgWVlZG7ABK1lZI7AAUFhlWVktsAMsIEUgsAQlYWQgsAVDUFiwBSNCsAYjQhshIVmwAWAtsAQsIyEjISBksQViQiCwBiNCsQEKQ0VjsQEKQ7ABYEVjsAMqISCwBkMgiiCKsAErsTAFJbAEJlFYYFAbYVJZWCNZISCwQFNYsAErGyGwQFkjsABQWGVZLbAFLLAHQyuyAAIAQ2BCLbAGLLAHI0IjILAAI0JhsAJiZrABY7ABYLAFKi2wBywgIEUgsAtDY7gEAGIgsABQWLBAYFlmsAFjYESwAWAtsAgssgcLAENFQiohsgABAENgQi2wCSywAEMjRLIAAQBDYEItsAosICBFILABKyOwAEOwBCVgIEWKI2EgZCCwIFBYIbAAG7AwUFiwIBuwQFlZI7AAUFhlWbADJSNhRESwAWAtsAssICBFILABKyOwAEOwBCVgIEWKI2EgZLAkUFiwABuwQFkjsABQWGVZsAMlI2FERLABYC2wDCwgsAAjQrILCgNFWCEbIyFZKiEtsA0ssQICRbBkYUQtsA4ssAFgICCwDENKsABQWCCwDCNCWbANQ0qwAFJYILANI0JZLbAPLCCwEGJmsAFjILgEAGOKI2GwDkNgIIpgILAOI0IjLbAQLEtUWLEEZERZJLANZSN4LbARLEtRWEtTWLEEZERZGyFZJLATZSN4LbASLLEAD0NVWLEPD0OwAWFCsA8rWbAAQ7ACJUKxDAIlQrENAiVCsAEWIyCwAyVQWLEBAENgsAQlQoqKIIojYbAOKiEjsAFhIIojYbAOKiEbsQEAQ2CwAiVCsAIlYbAOKiFZsAxDR7ANQ0dgsAJiILAAUFiwQGBZZrABYyCwC0NjuAQAYiCwAFBYsEBgWWawAWNgsQAAEyNEsAFDsAA+sgEBAUNgQi2wEywAsQACRVRYsA8jQiBFsAsjQrAKI7ABYEIgYLABYbUQEAEADgBCQopgsRIGK7ByKxsiWS2wFCyxABMrLbAVLLEBEystsBYssQITKy2wFyyxAxMrLbAYLLEEEystsBkssQUTKy2wGiyxBhMrLbAbLLEHEystsBwssQgTKy2wHSyxCRMrLbAeLACwDSuxAAJFVFiwDyNCIEWwCyNCsAojsAFgQiBgsAFhtRAQAQAOAEJCimCxEgYrsHIrGyJZLbAfLLEAHistsCAssQEeKy2wISyxAh4rLbAiLLEDHistsCMssQQeKy2wJCyxBR4rLbAlLLEGHistsCYssQceKy2wJyyxCB4rLbAoLLEJHistsCksIDywAWAtsCosIGCwEGAgQyOwAWBDsAIlYbABYLApKiEtsCsssCorsCoqLbAsLCAgRyAgsAtDY7gEAGIgsABQWLBAYFlmsAFjYCNhOCMgilVYIEcgILALQ2O4BABiILAAUFiwQGBZZrABY2AjYTgbIVktsC0sALEAAkVUWLABFrAsKrABFTAbIlktsC4sALANK7EAAkVUWLABFrAsKrABFTAbIlktsC8sIDWwAWAtsDAsALABRWO4BABiILAAUFiwQGBZZrABY7ABK7ALQ2O4BABiILAAUFiwQGBZZrABY7ABK7AAFrQAAAAAAEQ+IzixLwEVKi2wMSwgPCBHILALQ2O4BABiILAAUFiwQGBZZrABY2CwAENhOC2wMiwuFzwtsDMsIDwgRyCwC0NjuAQAYiCwAFBYsEBgWWawAWNgsABDYbABQ2M4LbA0LLECABYlIC4gR7AAI0KwAiVJiopHI0cjYSBYYhshWbABI0KyMwEBFRQqLbA1LLAAFrAEJbAEJUcjRyNhsAlDK2WKLiMgIDyKOC2wNiywABawBCWwBCUgLkcjRyNhILAEI0KwCUMrILBgUFggsEBRWLMCIAMgG7MCJgMaWUJCIyCwCEMgiiNHI0cjYSNGYLAEQ7ACYiCwAFBYsEBgWWawAWNgILABKyCKimEgsAJDYGQjsANDYWRQWLACQ2EbsANDYFmwAyWwAmIgsABQWLBAYFlmsAFjYSMgILAEJiNGYTgbI7AIQ0awAiWwCENHI0cjYWAgsARDsAJiILAAUFiwQGBZZrABY2AjILABKyOwBENgsAErsAUlYbAFJbACYiCwAFBYsEBgWWawAWOwBCZhILAEJWBkI7ADJWBkUFghGyMhWSMgILAEJiNGYThZLbA3LLAAFiAgILAFJiAuRyNHI2EjPDgtsDgssAAWILAII0IgICBGI0ewASsjYTgtsDkssAAWsAMlsAIlRyNHI2GwAFRYLiA8IyEbsAIlsAIlRyNHI2EgsAUlsAQlRyNHI2GwBiWwBSVJsAIlYbkIAAgAY2MjIFhiGyFZY7gEAGIgsABQWLBAYFlmsAFjYCMuIyAgPIo4IyFZLbA6LLAAFiCwCEMgLkcjRyNhIGCwIGBmsAJiILAAUFiwQGBZZrABYyMgIDyKOC2wOywjIC5GsAIlRlJYIDxZLrErARQrLbA8LCMgLkawAiVGUFggPFkusSsBFCstsD0sIyAuRrACJUZSWCA8WSMgLkawAiVGUFggPFkusSsBFCstsD4ssDUrIyAuRrACJUZSWCA8WS6xKwEUKy2wPyywNiuKICA8sAQjQoo4IyAuRrACJUZSWCA8WS6xKwEUK7AEQy6wKystsEAssAAWsAQlsAQmIC5HI0cjYbAJQysjIDwgLiM4sSsBFCstsEEssQgEJUKwABawBCWwBCUgLkcjRyNhILAEI0KwCUMrILBgUFggsEBRWLMCIAMgG7MCJgMaWUJCIyBHsARDsAJiILAAUFiwQGBZZrABY2AgsAErIIqKYSCwAkNgZCOwA0NhZFBYsAJDYRuwA0NgWbADJbACYiCwAFBYsEBgWWawAWNhsAIlRmE4IyA8IzgbISAgRiNHsAErI2E4IVmxKwEUKy2wQiywNSsusSsBFCstsEMssDYrISMgIDywBCNCIzixKwEUK7AEQy6wKystsEQssAAVIEewACNCsgABARUUEy6wMSotsEUssAAVIEewACNCsgABARUUEy6wMSotsEYssQABFBOwMiotsEcssDQqLbBILLAAFkUjIC4gRoojYTixKwEUKy2wSSywCCNCsEgrLbBKLLIAAEErLbBLLLIAAUErLbBMLLIBAEErLbBNLLIBAUErLbBOLLIAAEIrLbBPLLIAAUIrLbBQLLIBAEIrLbBRLLIBAUIrLbBSLLIAAD4rLbBTLLIAAT4rLbBULLIBAD4rLbBVLLIBAT4rLbBWLLIAAEArLbBXLLIAAUArLbBYLLIBAEArLbBZLLIBAUArLbBaLLIAAEMrLbBbLLIAAUMrLbBcLLIBAEMrLbBdLLIBAUMrLbBeLLIAAD8rLbBfLLIAAT8rLbBgLLIBAD8rLbBhLLIBAT8rLbBiLLA3Ky6xKwEUKy2wYyywNyuwOystsGQssDcrsDwrLbBlLLAAFrA3K7A9Ky2wZiywOCsusSsBFCstsGcssDgrsDsrLbBoLLA4K7A8Ky2waSywOCuwPSstsGossDkrLrErARQrLbBrLLA5K7A7Ky2wbCywOSuwPCstsG0ssDkrsD0rLbBuLLA6Ky6xKwEUKy2wbyywOiuwOystsHAssDorsDwrLbBxLLA6K7A9Ky2wciyzCQQCA0VYIRsjIVlCK7AIZbADJFB4sAEVMC0AS7gAyFJYsQEBjlmwAbkIAAgAY3CxAAVCsgABACqxAAVCswoCAQgqsQAFQrMOAAEIKrEABkK6AsAAAQAJKrEAB0K6AEAAAQAJKrEDAESxJAGIUViwQIhYsQNkRLEmAYhRWLoIgAABBECIY1RYsQMARFlZWVmzDAIBDCq4Af+FsASNsQIARAAA') format('truetype');
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
	font-family: "social";
	font-style: normal;
	font-weight: normal;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
}
.icon-link:before { content: '\e800'; } /* '' */
.icon-bird:before { content: '\f099'; } /* '' */
.icon-codes:before { content: '\f09b'; } /* '' */
.icon-business:before { content: '\f0e1'; } /* '' */
.icon-gramin:before { content: '\f16d'; } /* '' */

footer {
	display: flex;
	flex-direction: row-reverse;
}

footer .legal {
	flex: 1;
}

footer .social a {
	margin-left: 1em;
}

@media screen and (max-width: 600px) {
	footer {
		display: block;
	}

	footer .social {
		margin-bottom: 0.5em;
	}

	footer .social a {
		margin: 0 1em 0 0;
	}
}
